#banner{
    width: 100%;
}

#banner img {
    width: 100%;
    display: block;
    margin: 0;
}

.slogan {
    width: 100%;
    height: 60px;
    background-color: var(--bg-slogan);
    margin-top: -.4vw;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan img {
    width: 25px;
    margin-right: 10px;
}

.slogan p {
    text-align: justify;
    width: 50%;
    font-size: .75rem;
}

.content-general{
    display: flex;
    flex-direction: column;
}

.content {
    width: 70vw;
    min-height: 100px;
    margin: 0 auto 30px;
    padding: 2rem;
    background-color: var(--bg-secondary);
    border-radius: .5rem;
    text-align: left;
}

.content .image1 {
    width: 60px;
    margin-bottom: 5px;
    margin-left: -5px;
}

.content .image2 {
    width: 48px;
    margin-bottom: 10px;
}

.content p {
    font-weight: 400;
    font-style: normal;
}

.titulo {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Imprima';
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

@media (min-width: 1000px){
    .slogan{
        height: 70px;
    }
    .slogan p{
        font-size: 1rem;
        width: auto;
    }
    .titulo{
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    .content-general {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Cria duas colunas com largura igual */
        grid-gap: 30px; /* Espaço entre as divs */
        max-width: 1600px; /* Limita a largura máxima */
        margin: 0 auto; /* Centraliza na tela */
        margin-bottom: 50px;
    }
    .content {
        width: 400px;
        margin-bottom: 0; /* Remove a margem inferior para que as divs se alinhem corretamente */
    }
    .content .image1 {
        width: 90px;
    }
    .content .image2 {
        width: 80px;
    }
    .content h2{
        font-size: 2rem;
    }
    .content p{
        font-size: 1.2rem;
    }
}