#banner {
    width: 100%;
    margin-bottom: 15px;
}

#banner img {
    width: 100%;
    display: block;
    box-shadow: var(--shadow-first) 0px 13px 27px -5px, var(--shadow-second) 0px 8px 16px -8px;
}

.content-general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    width: 70%;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: .5rem;
}

.content img{
    width: 140px;
}

button{
    text-decoration: none;
    border: none;
    text-align: center;
    justify-content: center;
    width: 100.75rem 110.25rem;
    border-radius: 10rem;
    border-radius: 20%;
    background-color: var(--buttons);
}

p {
    margin-bottom: 10px;
}

p span{
    font-weight: bold;
}

.destaque{
    color: var(--destaque);
}

.titulos {
    margin-bottom: 30px;
    width: 80%;
    text-align: center;
}

h2 {
    color: #FFF;
    font-family: Impact;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

