@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

:root {
    /* Cores */
    --bg-general: rgb(31, 34, 45);
    --bg-primary: rgb(19, 21, 28);
    --bg-secondary: rgb(42, 47, 66);
    --bg-slogan: rgb(15, 17, 17);
    --color-letters: rgb(255, 255, 255);
    --color-signature: rgba(255, 255, 255, 0.363);
    --line-icons: rgb(33, 53, 122);
}

* {
    margin: 0;
    padding: 0;
    color: var(--color-letters);
}

body {
    background-color: var(--bg-general);
    font-family: Arial, sans-serif; /* Fallback font */
    font-family: "Imprima", sans-serif; /* Fonte personalizada */
}

/* Navbar */
#navbar {
    height: 70px;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar img {
    width: 48px;
}

/* Banner */
#banner img {
    width: 100%;
    display: block;
    margin: 0;
}

/* Slogan */
.slogan {
    height: 60px;
    background-color: var(--bg-slogan);
    margin-top: -2px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan img {
    width: 25px;
    margin-right: 10px;
}

.slogan p {
    text-align: justify;
    width: 50%;
    font-size: .75rem;
}

/* Conteúdo */
.content {
    width: 70%;
    min-height: 100px;
    margin: 0 auto 30px;
    padding: 2rem;
    background-color: var(--bg-secondary);
    border-radius: .5rem;
    text-align: left;
}

.content .image1 {
    width: 60px;
    margin-bottom: 5px;
}

.content .image2 {
    width: 48px;
    margin-bottom: 10px;
}

.content p {
    font-weight: 400;
    font-style: normal;
}

.titulo {
    text-align: center;
}

h2 {
    color: #fff;
    font-family: Impact;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

/* Footer */
footer {
    height: 120px;
    padding-top: 2.5rem;
    background-color: var(--bg-primary);
    text-align: center;
}

#links {
    width: 60%;
    margin: 0 auto 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line-icons);
    padding-bottom: 10px;
}

#links #right {
    width: 105px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}

#links #right img {
    width: 25px;
}

footer p {
    color: var(--color-signature);
    font-size: .7rem;
}
