<<<<<<< HEAD
#banner {
    width: 100%;
    margin-bottom: 30px;
}

#banner img {
    width: 100%;
    display: block;
    box-shadow: var(--shadow-first) 0px 13px 27px -5px, var(--shadow-second) 0px 8px 16px -8px;
}

=======
>>>>>>> 97ccc06 (css cadastro)
.content-general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    width: 70vw;
    max-width: 440px;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: .5rem;
}

.content img{
    width: 140px;
    margin-bottom: 10px;
}

button{
    text-decoration: none;
    border: none;
    text-align: center;
    justify-content: center;
    width: 100.75rem 110.25rem;
    border-radius: 10rem;
    border-radius: 20%;
    background-color: var(--buttons);
}

p {
    margin-bottom: 10px;
}

p span{
    font-weight: bold;
}

.destaque{
    color: var(--destaque);
}

.titulos {
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
}

h2 {
    color: #FFF;
    font-family: Impact;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 1050px){
    .content-general{
        width: 1010px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .content{
        text-align: center;
    }
    .content img{
        width: 280px;
    }
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1.2rem;
    }
}