#banner {
    width: 100%;
    margin-bottom: 30px;
}

#banner img {
    width: 100%;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.658) 0px 8px 16px -8px;
}

.content{
    text-align: center;
    width: 70vw;
    max-width: 800px;
    min-height: 100px;
    margin-bottom: 30px;
    padding: 2rem 2rem 3rem 2rem;
    background-color: var(--bg-secondary);
    border-radius: .5rem;
}

p{
    text-align: justify;
    margin-bottom: 10px;
}

.titulos{
    margin-bottom: 30px;
    text-align: center;
}

h2{
    font-family: 'Imprima';
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

@media (min-width: 1000px){
    .content p{
        font-size: 1.2rem;
    }
    h2{
        font-size: 2rem;
    }
}