<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style_apoiar.css">
</head>

<body>
    <!-- ////////// Parte inicial do site (fica no topo) \\\\\\\\\\-->
    <nav>
        <div id="navbar">
            <p></p>
            <img class="image" src="../source/icons/Avog.svg" alt="Logo_Avog">
            <p></p>
        </div>
    </nav>
    <main>
        <div id="banner">
            <img src="../source/banners/banner_apoiar.svg" alt="Imagem_Volei">
        </div>

        <!-- ////////// Conteúdo do Site \\\\\\\\\\-->
        <div class="titulos">
            <h2 class="text_titulo">Como apoiar?</h2>
        </div>
        <!-- Apresentação -->
        <div class="content">
            <img src="../source/icons/heart_red.svg" alt="">
            <p class="text"><span>Faça uma doação</span> em dinheiro</p>
            <p class="destaque">Seu apoio é essencial</p>
            <p class="text">Faça uma doação pontual para a AVOG e ajude-nos a continuar realizando nosso trabalho o ano
                todo.</p>
            <button href="#" class="button">DOE AGORA</button>
        </div>

        <div class="content">
            <img src="../source/icons/user_red.svg" alt="">
            <p class="text">Seja um <span>Voluntário</span></p>
            <p class="destaque">Apoie a ONG ajudando!</p>
            <p class="text">Estamos sempre em busca de voluntários engajados que queiram contribuir com seu tempo e
                habilidades para ajudar em nossos programas e eventos. </p>
            <button href="#" class="button">DOE AGORA</button>
        </div>

        <div class="content">
            <img src="../source/icons/users_red.svg" alt="">
            <p class="text">Ajude na <span>Divulgação</span></p>
            <p class="destaque">Seu apoio é essencial</p>
            <p class="text">Ajude-nos a divulgar o trabalho da AVOG compartilhando nossas iniciativas e eventos em suas
                redes sociais e com sua comunidade. Quanto mais pessoas conhecerem nosso trabalho, maior será nosso
                impacto na sociedade.</p>
        </div>

        <div class="titulos">
            <h2 class="text_titulo">Galeria</h2>

        </div>
    </main>


    <!-- ////////// Parte final do site (fica no abaixo de todo conteúdo) \\\\\\\\\\-->
    <footer>
        <div id="links">
            <div id="left">
                <img src="../source/icons/Avog.svg">
            </div>

            <div id="right">
                <img src="../source/icons/facebook.svg">
                <img src="../source/icons/instagram.svg">
                <img src="../source/icons/youtube.svg">
            </div>
        </div>
        <p>@Copyright - AVOG 2024</p>
    </footer>
</body>

</html>