<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style_sobre.css">
</head>

<body>
    <!-- ////////// Parte inicial do site (fica no topo) \\\\\\\\\\-->
    <nav>
        <div id="navbar">
            <p></p>
            <img class="image" src="../source/icons/Avog.png" alt="Logo_Avog">
            <p></p>
        </div>
    </nav>
    <main>
        <div id="banner">
            <img src="../source/banners/banner_home.png" alt="Imagem_Volei">
        </div>
        <div class="slogan">
            <img src="../source/icons/Star.png">
            <p>Você, junto com Todo Mundo, pode ajudar a fazer parte disso! Doe Agora!</p>
        </div>

        <!-- ////////// Conteúdo do Site \\\\\\\\\\-->
        <div class="titulos">
            <h2 class="text_titulo">Sobre a AVOG: Associação de Volei Guarulhense</h2>
        </div>
        <!-- Apresentação -->
        <div class="content">
            <p class="tex">A Associação de Vôlei Guarulhense (AVOG) é uma organização não governamental dedicada ao
                desenvolvimento e promoção do voleibol na cidade de Guarulhos e regiões próximas. Fundada em 2013, a
                AVOG
                tem como missão principal proporcionar oportunidades de prática esportiva, formação de atletas e
                promoção de
                valores como trabalho em equipe, disciplina e superação.</p>
            <p class="tex">A AVOG valoriza a formação integral dos seus membros, buscando não apenas o desenvolvimento
                técnico e físico, mas também o crescimento pessoal e a construção de valores éticos e morais. Através do
                voleibol, a organização busca contribuir para a formação de cidadãos conscientes e responsáveis, capazes
                de
                fazer a diferença em suas comunidades.</p>
            <p class="tex">Com uma equipe dedicada de profissionais e voluntários apaixonados pelo esporte, a AVOG
                continua
                a ser um importante agente de transformação social na cidade de Guarulhos, inspirando e impactando
                positivamente a vida de muitos indivíduos através do voleibol.</p>
        </div>

        <div class="titulos">
            <h2 class="text_titulo">Galeria</h2>

        </div>
    </main>


    <!-- ////////// Parte final do site (fica no abaixo de todo conteúdo) \\\\\\\\\\-->
    <footer>
        <div id="links">
            <div id="left">
                <img src="../source/icons/Avog.png">
            </div>

            <div id="right">
                <img src="../source/icons/facebook.png">
                <img src="../source/icons/instagram.png">
                <img src="../source/icons/youtube.png">
            </div>
        </div>
        <p>@Copyright - AVOG 2024</p>
    </footer>
</body>

</html>