<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>login</title>
</head>
<body>
    <div class="main-login" action="../db/login.jsp" name="form1" method="post">
    <div class="left-login ">
        <div class="card-link">
            <h1>CADASTRE-SE</h1>
            <div class="textfield">
                <label for="email">Nome</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome...">
                <span id="errorNome" class="spam"></span>
            </div>
            <div class="textfield">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Digite seu email...">
                <span id="errorEmail" class="spam"></span>
            </div>
            <div class="textfield">
                <label for="email">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha...">
                <span id="errorSenha" class="spam"></span>
            </div>
            <div class="textfield">
                <label for="senha">Confirme sua senha</label>
                <input type="password" name="confirmeSenha" id="confirmeSenha" placeholder="Confirme sua senha...">
                <span id="errorConfirmeSenha" class="spam"></span>
                <p>Já possui uma conta? <a href="login2.html" class="cadastre">Entrar</a></p>
        </div>
        <input type="button" class="btn-login" onclick="verificar()" value="CADASTRAR">
        <a href="index.html" class="voltar">Voltar</a>
    </div>
    <div class="right-login">
        <h1>Entre na nossa comunidade!!</h1>
        <img class="voli" src="../source/banners/voleipraia.svg" alt="Volei">
    </div>
</div>
    <script src="../js/validacoes/usuario/cadastro.js"></script>
</body>
</html>