<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVOG - Cadastro</title>
    <link rel="stylesheet" href="../css/cadastro.css">
</head>
<body>
    <form action="../db/grava.jsp" name="form1" method="post">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
        <span id="errorNome"></span>
        <br>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" placeholder="Digite seu email">
        <span id="errorEmail"></span>
        <br>
        <label for="senha">Senha: </label>
        <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
        <span id="errorSenha"></span>
        <br>
        <label for="confirmSenha">Confirme sua senha: </label>
        <input type="password" name="confirmeSenha" id="confirmeSenha" placeholder="Confirme sua senha">
        <span id="errorConfirmeSenha"></span>
        <br>
        <input type="button" onclick="verificar()" value="Salvar">
    </form>

    <script src="../js/validacoes/usuario/cadastro.js"></script>
</body>
</html>