<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style_sobre.css">
</head>

<body>
    <!-- ////////// Parte inicial do site (fica no topo) \\\\\\\\\\-->
    <nav>
        <div id="navbar">
            <p></p>
            <img class="image" src="../source/icons/Avog.svg" alt="Logo_Avog">
            <p></p>
        </div>
    </nav>
    <main>
        <div id="banner">
            <img src="../source/banners/banner_contato.svg" alt="Imagem_Volei">
        </div>

        <!-- ////////// Conteúdo do Site \\\\\\\\\\-->
        <div class="titulos">
            <h2 class="text_titulo">Fale Conosco</h2>
        </div>
        <!-- Apresentação -->
        <div class="content">
            <p class="tex">Telefone: (11) 98927-4418</p>
            <p class="tex">Email: luisguapira@hotmail.com</p>
        </div>

        <div class="titulos">
            <h2 class="text_titulo">Localização</h2>
        </div>

        <div id="maps">

        </div>

        <div class="titulos">
            <h2 class="text_titulo">Calendário de eventos</h2>
        </div>

        <div id="callendar">

        </div>
    </main>


    <!-- ////////// Parte final do site (fica no abaixo de todo conteúdo) \\\\\\\\\\-->
    <footer>
        <div id="links">
            <div id="left">
                <img src="../source/icons/Avog.svg">
            </div>

            <div id="right">
                <img src="../source/icons/facebook.svg">
                <img src="../source/icons/instagram.svg">
                <img src="../source/icons/youtube.svg">
            </div>
        </div>
        <p>@Copyright - AVOG 2024</p>
    </footer>
</body>

</html>