<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style_sobre.css">
    <link rel="stylesheet" href="../css/components/calendario.css">
    <link rel="stylesheet" href="../css/components/mapa.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src="../js/calendario.js" defer></script>
      </script>
</head>

<body>
    <!-- ////////// Parte inicial do site (fica no topo) \\\\\\\\\\-->
    <nav>
        <div id="navbar">
            <p></p>
            <img class="image" src="../source/icons/Avog.svg" alt="Logo_Avog">
            <p></p>
        </div>
    </nav>
    <main>
        <div id="banner">
            <img src="../source/banners/banner_contato.svg" alt="Imagem_Volei">
        </div>

        <!-- ////////// Conteúdo do Site \\\\\\\\\\-->
        <div class="titulos">
            <h2 class="text_titulo">Fale Conosco</h2>
        </div>
        <!-- Apresentação -->
        <div class="content">
            <p class="tex">Telefone: (11) 98927-4418</p>
            <p class="tex">Email: luisguapira@hotmail.com</p>
        </div>

        <div class="titulos">
            <h2 class="text_titulo">Localização</h2>
        </div>

        <div class="mapBox">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4379.951303311593!2d-23.467692361661282!3d-46.5533081332095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1651105282919!5m2!1spt-BR!2sbr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="titulos">
            <h2 class="text_titulo">Calendário de eventos</h2>
        </div>

        <div id="callendar">
            <div class="wrapper">
                <header>
                    <p class="current-date"></p>
                    <div class="icons">
                        <span id="prev" class="material-symbols-rounded">chevron_left</span>
                        <span id="next" class="material-symbols-rounded">chevron_right</span>
                    </div>
                </header>
                <div class="calendar">
                    <ul class="weeks">
                        <li>Dom</li>
                        <li>Seg</li>
                        <li>Ter</li>
                        <li>Qua</li>
                        <li>Qui</li>
                        <li>Sex</li>
                        <li>Sab</li>
                    </ul>
                    <ul class="days"></ul>
                </div>
            </div>
        </div>
    </main>


    <!-- ////////// Parte final do site (fica no abaixo de todo conteúdo) \\\\\\\\\\-->
    <footer>
        <div id="links">
            <div id="left">
                <img src="../source/icons/Avog.svg">
            </div>

            <div id="right">
                <img src="../source/icons/facebook.svg">
                <img src="../source/icons/instagram.svg">
                <img src="../source/icons/youtube.svg">
            </div>
        </div>
        <p>@Copyright - AVOG 2024</p>
    </footer>
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "beta"});</script>
</body>

</html>