<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVOG - Doe Agora</title>
    <link rel="stylesheet" href="../css/components/navbar.css">
    <link rel="stylesheet" href="../css/components/footer.css">
    <link rel="stylesheet" href="../css/style_doe.css">
    <script src="../js/navbar.js"></script>
</head>

<body>
    <!-- ////////// Parte inicial do site (fica no topo) \\\\\\\\\\-->
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <img src="../source/icons/Avog.svg" alt="">
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="index.html" class="nav-link">Início</a></li>
                    <li class="nav-item"><a href="sobre.html" class="nav-link">Sobre</a></li>
                    <li class="nav-item"><a href="projetos.html" class="nav-link">Projetos</a></li>
                    <li class="nav-item"><a href="apoiar.html" class="nav-link">Como Apoiar</a></li>
                    <li class="nav-item"><a href="contato.html" class="nav-link">Contato</a></li>
                </ul>
            </div>

            <div class="login-button">
                <button><a href="doe.html">DOE AGORA</a></button>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="../source/icons/hamburgue.svg" alt=""></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="index.html" class="nav-link">Início</a></li>
                <li class="nav-item"><a href="sobre.html" class="nav-link">Sobre</a></li>
                <li class="nav-item"><a href="projetos.html" class="nav-link">Projetos</a></li>
                <li class="nav-item"><a href="apoiar.html" class="nav-link">Como Apoiar</a></li>
                <li class="nav-item"><a href="contato.html" class="nav-link">Contato</a></li>
            </ul>
            <div class="login-button">
                <button><a href="doe.html">DOE AGORA</a></button>
            </div>
        </div>
    </header>
    <main>
        <div id="banner">
            <img src="../source/banners/banner_doe.svg" alt="Imagem_Volei">
        </div>

        <!-- ////////// Conteúdo do Site \\\\\\\\\\-->
        <div class="titulos">
            <h2 class="text_titulo">Seja um Voluntário</h2>
        </div>
        <!-- Apresentação -->
        <div class="content">
            <form action="" method="post">
                <p>Nome <span>*</span></p>
                <input type="text" name="name">

                <p>Email <span>*</span></p>
                <input type="email" name="email">

                <p>Confirme seu e-mail <span>*</span></p>
                <input type="email" name="confirm_email">

                <p>Celular <span>*</span></p>
                <input type="tel" name="phone">

                <p>Data de Nascimento <span>*</span></p>
                <input type="date" name="dt_nasc">

                <p>Sexo <span>*</span></p>
                <select name="sexo" >
                    <option value="">Selecione</option>
                    <option value="masc">Masculino</option>
                    <option value="fem">Feminino</option>
                    <option value="other">Outro</option>
                </select>

                
                <div class="checkbox-container">
                    <input type="checkbox" id="terms-checkbox">
                    <label for="terms-checkbox">Li e aceito as <span>Políticas de Privacidade.*</span></label>
                </div>

                <input type="button" value="Cadastrar">
            </form>
        </div>

        <div class="titulos">
            <h2 class="text_titulo">Ajude-nos!!</h2>
        </div>
        <!-- Apresentação -->
        <div class="content">
            <h3>Dados Pessoais</h3>
            <form action="" method="post">
                <p>Nome <span>*</span></p>
                <input type="text" name="name">

                <p>Email <span>*</span></p>
                <input type="email" name="email">

                <p>Confirme seu e-mail <span>*</span></p>
                <input type="email" name="confirm_email">

                <p>Celular <span>*</span></p>
                <input type="tel" name="phone">

                <p>Data de Nascimento <span>*</span></p>
                <input type="date" name="dt_nasc">

                <p>Sexo <span>*</span></p>
                <select name="sexo" >
                    <option value="">Selecione</option>
                    <option value="masc">Masculino</option>
                    <option value="fem">Feminino</option>
                    <option value="other">Outro</option>
                </select>

                <div class="linha"></div>

                <p>CEP <span>*</span></p>
                <input type="number" name="cep">

                <p>Rua <span>*</span></p>
                <input type="text" name="rua">

                <p>Número <span>*</span></p>
                <input type="number" name="numero">

                <p>Complemento</p>
                <input type="text" name="comp">

                <p>Bairro <span>*</span></p>
                <input type="text" name="bairro">

                <p>Cidade <span>*</span></p>
                <input type="text" name="cidade">

                <p>Estado <span>*</span></p>
                <input type="text" name="estado">

                <div class="checkbox-container">
                    <input type="checkbox" id="terms-checkbox">
                    <label for="terms-checkbox">Li e aceito as <span>Políticas de Privacidade.*</span></label>
                </div>
                <input type="button" value="DOE AGORA">
            </form>
        </div>
    </main>


    <!-- ////////// Parte final do site (fica no abaixo de todo conteúdo) \\\\\\\\\\-->
    <footer>
        <div id="links">
            <div id="left">
                <img src="../source/icons/Avog.svg">
            </div>

            <div id="right">
                <img src="../source/icons/facebook.svg">
                <img src="../source/icons/instagram.svg">
                <img src="../source/icons/youtube.svg">
            </div>
        </div>
        <p>@Copyright - AVOG 2024</p>
    </footer>
</body>

</html>