<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style_doe.css">
</head>

<body>
    <!-- ////////// Parte inicial do site (fica no topo) \\\\\\\\\\-->
    <nav>
        <div id="navbar">
            <p></p>
            <img class="image" src="../source/icons/Avog.png" alt="Logo_Avog">
            <p></p>
        </div>
    </nav>
    <main>
        <div id="banner">
            <img src="../source/banners/banner_doe.png" alt="Imagem_Volei">
        </div>

        <!-- ////////// Conteúdo do Site \\\\\\\\\\-->
        <div class="titulos">
            <h2 class="text_titulo">Seja um Voluntário</h2>
        </div>
        <!-- Apresentação -->
        <div class="content">
            <form action="" method="post">
                <p>Nome</p>
                <input type="text" name="name">

                <p>Email</p>
                <input type="email" name="email">

                <p>Confirme seu e-mail</p>
                <input type="email" name="confirm_email">

                <p>Celular</p>
                <input type="tel" name="phone">

                <p>Data de Nascimento</p>
                <input type="date" name="dt_nasc">

                <p>Sexo</p>
                <select name="sexo" >
                    <option value="masc">Masculino</option>
                    <option value="fem">Feminino</option>
                    <option value="other">Outro</option>
                </select>

                
                <input type="checkbox" name="termo"> <p>Li e aceito as Políticas de Privacidade. (?) *</p>

                <input type="button" value="Cadastrar">
            </form>
        </div>

        <div class="titulos">
            <h2 class="text_titulo">Ajude-nos!!</h2>
        </div>
        <!-- Apresentação -->
        <div class="content">
            <h3>Dados Pessoais</h3>
            <form action="" method="post">
                <p>Nome</p>
                <input type="text" name="name">

                <p>Email</p>
                <input type="email" name="email">

                <p>Confirme seu e-mail</p>
                <input type="email" name="confirm_email">

                <p>Celular</p>
                <input type="tel" name="phone">

                <p>Data de Nascimento</p>
                <input type="date" name="dt_nasc">

                <p>Sexo</p>
                <select name="sexo" >
                    <option value="masc">Masculino</option>
                    <option value="fem">Feminino</option>
                    <option value="other">Outro</option>
                </select>

                <div class="linha"></div>

                <p>CEP</p>
                <input type="number" name="cep">

                <p>Rua</p>
                <input type="text" name="rua">

                <p>Número</p>
                <input type="number" name="numero">

                <p>Complemento</p>
                <input type="text" name="comp">

                <p>Bairro</p>
                <input type="text" name="bairro">

                <p>Cidade</p>
                <input type="text" name="cidade">

                <p>Estado</p>
                <input type="text" name="estado">
<p></p>
                <input type="checkbox" name="termo"> <p>Li e aceito as Políticas de Privacidade. (?) *</p>

                <input type="button" value="DOE AGORA">
            </form>
        </div>
    </main>


    <!-- ////////// Parte final do site (fica no abaixo de todo conteúdo) \\\\\\\\\\-->
    <footer>
        <div id="links">
            <div id="left">
                <img src="../source/icons/Avog.png">
            </div>

            <div id="right">
                <img src="../source/icons/facebook.png">
                <img src="../source/icons/instagram.png">
                <img src="../source/icons/youtube.png">
            </div>
        </div>
        <p>@Copyright - AVOG 2024</p>
    </footer>
</body>

</html>