<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVOG - Início</title>
    <link rel="stylesheet" href="../css/components/navbar.css">
    <link rel="stylesheet" href="../css/components/footer.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/navbar.js"></script>
</head>

<body>
    <!-- ////////// Parte inicial do site (fica no topo) \\\\\\\\\\-->
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <img src="../source/icons/Avog.svg" alt="">
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="index.html" class="nav-link">Início</a></li>
                    <li class="nav-item"><a href="sobre.html" class="nav-link">Sobre</a></li>
                    <li class="nav-item"><a href="projetos.html" class="nav-link">Projetos</a></li>
                    <li class="nav-item"><a href="apoiar.html" class="nav-link">Como Apoiar</a></li>
                    <li class="nav-item"><a href="contato.html" class="nav-link">Contato</a></li>
                </ul>
            </div>

            <div class="login-button">
                <button><a href="login.html">ENTRAR</a></button>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="../source/icons/hamburgue.svg" alt=""></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="index.html" class="nav-link">Início</a></li>
                <li class="nav-item"><a href="sobre.html" class="nav-link">Sobre</a></li>
                <li class="nav-item"><a href="projetos.html" class="nav-link">Projetos</a></li>
                <li class="nav-item"><a href="apoiar.html" class="nav-link">Como Apoiar</a></li>
                <li class="nav-item"><a href="contato.html" class="nav-link">Contato</a></li>
            </ul>
            <div class="login-button">
                <button><a href="login.html">ENTRAR</a></button>
            </div>
        </div>
    </header>

    <main>
        <div id="banner">
            <img src="../source/banners/banner_home.svg" alt="Imagem_Volei">
        </div>

        <!-- ////////// Conteúdo do Site \\\\\\\\\\-->
        <div class="slogan">
            <img src="../source/icons/Star.svg">
            <p>Você, junto com Todo Mundo, pode ajudar a fazer parte disso! Doe Agora!</p>
        </div>
        <div id="content" class="titulo">
            <h1>Apresentação da ONG</h1>
        </div>
        <!-- Apresentação -->
        <div class="content-general">

            <div class="content">
                <img class="image1" src="../source/icons/heart.svg" alt="Icone_Coracao">
                <p>A "AVOG: Associação de Voleibol Guarulhense" é uma organização sem fins lucrativos dedicada ao
                    desenvolvimento e promoção do voleibol na comunidade de Guarulhos e arredores. Fundada por
                    entusiastas
                    do voleibol e membros da comunidade local, a associação visa fornecer oportunidades para pessoas de
                    todas as idades e origens participarem do esporte, promovendo um ambiente inclusivo e saudável.</p>
            </div>
            <!-- Missão -->
            <div class="content">
                <img class="image1" src="../source/icons/note.svg" alt="Icone_Nota">
                <h2>Missão</h2>
                <p>Nossa missão é promover a prática do voleibol como ferramenta de inclusão social, saúde e
                    desenvolvimento
                    pessoal, oferecendo programas acessíveis e de qualidade para a comunidade de Guarulhos.</p>
            </div>
            <!-- Visão -->
            <div class="content">
                <img class="image2" src="../source/icons/aperture.svg" alt="Icone_Olho">
                <h2>Visão</h2>
                <p>Nosso objetivo é ser reconhecidos como um centro de excelência em voleibol na região de Guarulhos,
                    proporcionando treinamento de alta qualidade para atletas de todas as idades e níveis de habilidade.
                </p>
            </div>
            <!-- Valores -->
            <div class="content">
                <img class="image2" src="../source/icons/check-circle.svg" alt="Icone_Correto">
                <h2>Valores</h2>
                <p>Priorizamos a inclusão, excelência, respeito, desenvolvimento pessoal e integridade em todas as
                    nossas
                    atividades e relações.</p>
            </div>
        </div>
    </main>

    <!-- ////////// Parte final do site (fica no abaixo de todo conteúdo) \\\\\\\\\\-->
    <footer>
        <div id="links">
            <div id="left">
                <img src="../source/icons/Avog.svg">
            </div>

            <div id="right">
                <img src="../source/icons/facebook.svg">
                <img src="../source/icons/instagram.svg">
                <img src="../source/icons/youtube.svg">
            </div>
        </div>
        <p>@Copyright - AVOG 2024</p>
    </footer>
</body>

</html>