<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style_sobre.css">
</head>

<body>
    <!-- ////////// Parte inicial do site (fica no topo) \\\\\\\\\\-->
    <nav>
        <div id="navbar">
            <p></p>
            <img class="image" src="../source/icons/Avog.svg" alt="Logo_Avog">
            <p></p>
        </div>
    </nav>
    <main>
        <div id="banner">
            <img src="../source/banners/banner_projetos.svg" alt="Imagem_Volei">
        </div>

        <!-- ////////// Conteúdo do Site \\\\\\\\\\-->
        <div class="titulos">
            <h2 class="text_titulo">Nossos projetos</h2>
        </div>
        <!-- Apresentação -->
        <div class="card_projeto">
            <p class="text_projeto">Iniciação esportiva</p>
        </div>
        <div class="card_projeto">
            <p class="text_projeto">Formação de atletas</p>
        </div>
        <div class="card_projeto">
            <p class="text_projeto">Voleibol adaptado</p>
        </div>

        <div class="titulos">
            <h2 class="text_titulo">Iniciação esportiva</h2>
        </div>
        <div class="content"><img src="" alt="" class="card_image">
            <p class="text">Este programa visa introduzir crianças e jovens ao voleibol, proporcionando treinamentos
                adequados à idade e nível de habilidade. Buscamos desenvolver não apenas as habilidades técnicas, mas
                também os valores fundamentais do esporte, como trabalho em equipe, respeito e disciplina...</p>
            <button class="saiba">SAIBA MAIS</button>
        </div>

        <div class="titulos">
            <h2 class="text_titulo">Formação de atletas</h2>
        </div>
        <div class="content"><img src="" alt="" class="card_image">
            <p class="text">Para aqueles que demonstram talento e dedicação, oferecemos um programa de formação de
                atletas mais avançado, com treinamentos especializados, acompanhamento técnico e participação em
                competições locais, regionais e nacionais. Nosso objetivo é preparar os atletas para alcançarem o máximo
                de seu potencial no esporte...</p>
            <button class="saiba">SAIBA MAIS</button>
        </div>

        <div class="titulos">
            <h2 class="text_titulo">Voleibol Adaptado</h2>
        </div>
        <div class="content"><img src="" alt="" class="card_image">
            <p class="text">Acreditamos na inclusão de todas as pessoas no esporte, e por isso oferecemos
                programas de voleibol adaptado para pessoas com deficiência. Esses programas adaptam as regras e
                técnicas do voleibol para garantir a participação de todos, promovendo assim a integração e a igualdade
                de oportunidades...</p>
            <button class="saiba">SAIBA MAIS</button>
        </div>
    </main>


    <!-- ////////// Parte final do site (fica no abaixo de todo conteúdo) \\\\\\\\\\-->
    <footer>
        <div id="links">
            <div id="left">
                <img src="../source/icons/Avog.svg">
            </div>

            <div id="right">
                <img src="../source/icons/facebook.svg">
                <img src="../source/icons/instagram.svg">
                <img src="../source/icons/youtube.svg">
            </div>
        </div>
        <p>@Copyright - AVOG 2024</p>
    </footer>
</body>

</html>