<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVOG - Sobre</title>
    <link rel="stylesheet" href="../css/components/navbar.css">
    <link rel="stylesheet" href="../css/components/footer.css">
    <link rel="stylesheet" href="../css/style_sobre.css">
    <link rel="stylesheet" href="../css/components/carousel.css">
    <script src="../js/navbar.js"></script>
</head>

<body>
    <!-- ////////// Parte inicial do site (fica no topo) \\\\\\\\\\-->
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <img src="../source/icons/Avog.svg" alt="">
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="index.html" class="nav-link">Início</a></li>
                    <li class="nav-item"><a href="sobre.html" class="nav-link">Sobre</a></li>
                    <li class="nav-item"><a href="projetos.html" class="nav-link">Projetos</a></li>
                    <li class="nav-item"><a href="apoiar.html" class="nav-link">Como Apoiar</a></li>
                    <li class="nav-item"><a href="contato.html" class="nav-link">Contato</a></li>
                </ul>
            </div>

            <div class="login-button">                
            <button><a href="login.html">ENTRAR</a></button>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="../source/icons/hamburgue.svg" alt=""></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="index.html" class="nav-link">Início</a></li>
                <li class="nav-item"><a href="sobre.html" class="nav-link">Sobre</a></li>
                <li class="nav-item"><a href="projetos.html" class="nav-link">Projetos</a></li>
                <li class="nav-item"><a href="apoiar.html" class="nav-link">Como Apoiar</a></li>
                <li class="nav-item"><a href="contato.html" class="nav-link">Contato</a></li>
            </ul>
            <div class="login-button">
                <button><a href="doe.html">DOE AGORA</a></button>
            </div>
        </div>
    </header>
    <main>
        <div id="banner">
            <img src="../source/banners/banner_sobre.svg" alt="Imagem_Volei">
        </div>

        <!-- ////////// Conteúdo do Site \\\\\\\\\\-->
        <div class="titulos">
            <h2 class="text_titulo">Sobre a AVOG: Associação de Volei Guarulhense</h2>
        </div>
        <!-- Apresentação -->
        <div class="content">
            <p class="tex">A Associação de Vôlei Guarulhense (AVOG) é uma organização não governamental dedicada ao
                desenvolvimento e promoção do voleibol na cidade de Guarulhos e regiões próximas. Fundada em 2013, a
                AVOG
                tem como missão principal proporcionar oportunidades de prática esportiva, formação de atletas e
                promoção de
                valores como trabalho em equipe, disciplina e superação.</p>
            <p class="tex">A AVOG valoriza a formação integral dos seus membros, buscando não apenas o desenvolvimento
                técnico e físico, mas também o crescimento pessoal e a construção de valores éticos e morais. Através do
                voleibol, a organização busca contribuir para a formação de cidadãos conscientes e responsáveis, capazes
                de
                fazer a diferença em suas comunidades.</p>
            <p class="tex">Com uma equipe dedicada de profissionais e voluntários apaixonados pelo esporte, a AVOG
                continua
                a ser um importante agente de transformação social na cidade de Guarulhos, inspirando e impactando
                positivamente a vida de muitos indivíduos através do voleibol.</p>
        </div>

        <div class="titulos">
            <h2 class="text_titulo">Galeria</h2>
        </div>
        <div id="carousel">
            <figure class="icon-cards mt-3">
                <div class="icon-cards__content">
                    <div class="icon-cards__item d-flex align-items-center justify-content-center"><img src="../source/carousel/image_1.svg" alt=""></div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center"><img src="../source/carousel/image_2.svg" alt=""></div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center"><img src="../source/carousel/image_3.svg" alt=""></div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center"><img src="../source/carousel/image_4.svg" alt=""></div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center"><img src="../source/carousel/image_5.svg" alt=""></div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center"><img src="../source/carousel/image_6.svg" alt=""></div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center"><img src="../source/carousel/image_7.svg" alt=""></div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center"><img src="../source/carousel/image_8.svg" alt=""></div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center"><img src="../source/carousel/image_9.svg" alt=""></div>
                </div>
            </figure>
        </div>
          
    </main>


    <!-- ////////// Parte final do site (fica no abaixo de todo conteúdo) \\\\\\\\\\-->
    <footer>
        <div id="links">
            <div id="left">
                <img src="../source/icons/Avog.svg">
            </div>

            <div id="right">
                <img src="../source/icons/facebook.svg">
                <img src="../source/icons/instagram.svg">
                <img src="../source/icons/youtube.svg">
            </div>
        </div>
        <p>@Copyright - AVOG 2024</p>
    </footer>
</body>

</html>