@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

.inika-regular {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

/* CSS */
.buttons {
    text-align: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    max-width: 480px;
    min-height: 38px;
    padding: 0px 20px;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.buttons:hover,
.buttons:focus {
    background-color: #16437E;
    color: #ffffff;
}

.buttons:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}
